{{> head}}

    {{> navbar }}
    <div class="row">
        <div class="col-8">
            <h1>Ricardo Pajarito</h1>
        </div>

        <div class="col-4">  
            <img src="assets/img/author.jpg" class="img-thumbnail" alt="hola mundo">
        </div>

    </div>

{{> footer}}